/* general */
#canvas {
	margin: 10px;
    background: url(../img/photo.png) #c7c7c7;
    background-size: 20%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px;
    border-style: solid;
    border-color: black;
    min-height: 20vh;
    max-width: 380px;
}

#preview {
	padding: 0px;
	display:none;
}

.opt-sticker {
	width: 60px;
	height: 60px;
	margin-top: 10px;
}

.helper-sticker img {
	width: 50px;
	height: 50px;
}

.helper-strap img {
	width: 100px;
	height: 50px;	
}
/* ends */

/* stickers */
#opt-sticker-red {
	background: url('../img/basketball.png') red;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

#opt-sticker-blue {
	background: url('../img/football.png') blue;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

#opt-sticker-purple {
	background: url('../img/ame-football.png') purple;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}
/* ends */

/*iPhone 6 stickets*/
@media (max-width: 375px) and (min-width: 361px) {

	.opt-sticker {
		width: 55px;
		height: 55px;
	}
}

/*iPhone 5 and Galaxy S5 stickers*/
@media (max-width: 360px) and (min-width: 320px) {

	.opt-sticker {
		width: 45px;
		height: 45px;
	}
}
