#canvas {
	margin: 10px;
    background: url(../img/photo.png) #c7c7c7;
    background-size: 20%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px;
    border-style: solid;
    border-color: red;
    min-height: 20vh;
    max-width: 380px;
}

#preview {
	padding: 0px;
	display:none;
}

.opt-sticker, .opt-strap {
	width: 70px;
	height: 70px;
}

.opt-sticker-red {
	background: red;
}

.opt-sticker-green {
	background: green;
}

.opt-sticker-purple {
	background: purple;
}

.opt-strap-blue {
	background: blue;
}